
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    transition: all 0s;
    font-family: Jetbrains Mono Nerd Font;
    font-size:15px;
}

window#waybar {
  background: #050805;
  opacity: 1;
  color: #ffffff;
}

#workspaces button {
  color:#ffffff;
  background: none;
  padding: 0.5em;
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background: #61afef;
  color:black;
}

#workspaces button.focused:hover {
  background: #e5c07b;
  color:white;
}

#workspaces button:hover {
  box-shadow:none;
  text-shadow:none;
  background: #121212;
  color:white;
}
#pulseaudio, #temperature, #clock, #custom-player, #custom-weather {
  font-weight:bold;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-right:15px;
}

#temperature {
  color: #e06c75;
  border-bottom: 2px solid #e06c75;
}

#pulseaudio {
  color: #98c379;
  border-bottom: 2px solid #98c379;
}

#clock.date {
  color: #e5c07b;
  border-bottom: 2px solid #e5c07b;
}

#clock.time {
  color: #61afef;
  border-bottom: 2px solid #61afef;
}

#custom-weather {
  color: #61afef;
  border-bottom: 2px solid #61afef;
}

#custom-player {
  border-bottom: 2px solid #61afef;
}

#tray{
  margin-left:0.5em;
}

#tray > .active {
}
